<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="ab-juice">

  <template>
		<style>

    @-webkit-keyframes animate {
      from { height: 30px; }
      to { height: var(--ab-juice-height); }
    }
    @-o-keyframes animate {
      from { height: 30px; }
      to { height: var(--ab-juice-height); }
    }
    @-moz-keyframes animate {
      from { height: 30px; }
      to { height: var(--ab-juice-height); }
    }
    @keyframes animate {
      from { height: 30px; }
      to { height: var(--ab-juice-height); }
    }
    ::host{
      display: inline-block;
      width: 30px;
      height: 30px;
      --ab-juice-color: #000;
      --ab-juice-delay: 1s;
      --ab-juice-time: 1s;
      --ab-juice-height: 30px;
    }
    .body{
      width: 30px;
      height: 30px;  
      max-height: var(--ab-juice-height);
      background-color: var(--ab-juice-color);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      animation: animate var(--ab-juice-time) infinite var(--ab-juice-delay) cubic-bezier(0.4, 0, 0.2, 1);
      animation-direction: alternate;
      transition: all 300ms ease;
    }

      .offset{
        width: 30px;
        background-color: var(--ab-juice-color);
      }
		</style>
    <div class="offset" style="height:{{offset}}px"></div>
		<div class="body"></div>
  </template>

	<script src="code.js" charset="utf-8"></script>
  <script>
  Polymer({
    is: "ab-juice",
		ready: readyComponent,
		attributeChanged: changeComponent,
		properties: {
        color: {
          type: String,
          value: "#000"
        },
				height: {
          type: Number,
          value: 100
        },
				time: {
          type: Number,
          value: 1
        },
        delay: {
          type: Number,
          value: -1
        },
        offset:{
          type: Number,
          value: 0
        }
      }
  });
  </script>

</dom-module>
